body {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
.card {
  border-radius: 20px;
  border-color: #e7dbe4;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
  max-width: 500px;
}

.coded-by {
  margin-top: 0;
  font-size: 15px;
}
